:root {
  --primary-bg-color: #f4f4f4;
  --text-color: #260817;
  --main-bg-color: #e372ff84;
  --main-text-color: #fff;
  --main-btn-bg-color: #fff;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: cc-pixel-arcade-cartridge;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */

h1 {
  font-family: "cc-pixel-arcade-cartridge";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  padding: 0px;
}

h2 {
  font-family: "cc-pixel-arcade-display";
  font-size: small;
  margin-top: 10px;
}

h3 {
  font-family: "alta-california";
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  margin: 10px;
  padding: 10px;
  color: #260817;
}

h4 {
  font-family: "cc-pixel-arcade-display";
  font-style: italic;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

p {
  margin-top: 15px;
  font-family: monospace;
  text-align: center;
}

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 0px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Navigation styling */
nav {
  margin-top: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-button {
  margin-top: 20px;
}

.nav-button a:visited {
  color: var(--text-color);
}

.nav-button a:hover {
  color: var(--text-color);
}

.nav-button a,
.nav-button a:visited,
.nav-button a:hover,
.nav-button a:active {
  text-decoration: none;
  color: var(--text-color);
}

button {
  font-family: "cc-pixel-arcade-cartridge";
  font-size: 1rem;
  background-color: var(--primary-color);
  min-height: 50px;
  min-width: 50px;
  border-style: dotted;
  border-radius: 15px;
  padding: 10px;
  opacity: 80%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor - pointer makes the mouse into a pointer upon hover */
  cursor: pointer;
}

button:hover {
  scale: 1.1;
  background: #e372ffbf;
  opacity: 100%;
}

/* Media player styling */
.media-player {
  position: relative;
  width: 1010px;
  height: 620px;
  margin: 0 auto;
}

.tv-image {
  width: 100%;
  height: 100%;
  display: block;
}

.media-player video {
  position: absolute;
  top: 119px;
  left: 95px;
  width: 640px;
  height: px;
  object-fit: cover;
  border-radius: 30px;
}

.custom-controls {
  position: absolute;
  top: 250px;
  right: 70px;
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-auto-rows: 50px;

  gap: 18px;

  z-index: 10;
}

/* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
} */

.custom-controls button {
  background-color: none;
  color: var(--main-text-color);
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 50%;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.custom-controls button:hover {
  transform: scale(1.02);

  background-color: #8476ba;
}

/* in Assignment 2 I can use flexbox to arrange the buttons */

.under-tv {
  position: relative;
  top: -40px;
  right: 120px;
  left: 35px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 12px;
  z-index: 5;
}
.progress-bar {
  width: 750px;
  height: 10px;
  background-color: #ffffff;
  opacity: 80%;
  margin-top: 21px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #c175d4;
  width: 0;
  transition: width 0.3s ease;
}

.like-count {
  margin-top: 11px;
}

.additional-content {
  line-height: 1.6;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-additional-content {
  margin-top: 75px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin: 50px;
  margin-top: 100px;
  opacity: 80%;
}

.instagram:hover,
.spotify:hover,
.youtube:hover,
.mail:hover {
  scale: 1.1;
  opacity: 100%;
}

/* animated background
body {
  animation: backgroundShift 8s infinite alternate;
  animation-play-state: paused;
}

/* define the colors */
/*@keyframes backgroundShift {
  0% {
    background-color: #f5ccff;
  }

  50% {
    background-color: #d38fe4;
  }

  100% {
    background-color: #c075d3;
  }
} */

body {
  background: linear-gradient(
    270deg,
    #ffffff,
    #eda6ff,
    #a8b1ff,
    #cb83ff,
    #6f70cd,
    #f3c1ff
  );
  background-size: 600% 600%;

  animation: gradientShift 12s ease infinite;
  animation-play-state: paused;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
}

/* dark background overlay */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* to hide popup when not clicked */
.hidden {
  display: none;
}

/* popup box */
.popup-content {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 500px;
}

/* icons row */
.popup-icons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 50px;
  gap: 50px;
}

.popup-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
}

.popup-icons img:hover {
  transform: scale(1.2);
}
